/* Linking google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  --text-colour: hsl(0, 0%, 100%);

  --accent-colour: hsl(75, 94%, 57%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--grey-900);
  color: var(--text-colour);
  font-size: 0.875rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-colour);
}

.profile__container {
  width: 330px;
  background: var(--grey-800);
  border-radius: 14px;
  padding: 32px 24px 24px 24px;
  text-align: center;
}
.profile__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.profile__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px 0 8px 0;
}
.profile__location {
  font-size: 0.875rem;
  color: var(--accent-colour);
  font-weight: 600;
}
.profile__des {
  margin: 24px 0;
}
.link {
  display: block;
  background: var(--grey-700);
  border-radius: 8px;
  padding: 14px 0;
  margin-top: 16px;
  font-weight: 700;
  transition: all 300ms ease;
}
/* for ios touch devices
.link:hover {
  background: var(--accent-colour);
  color: var(--grey-900);
} */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 16px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* except ios touch devcies */
@media (hover: hover) and (pointer: fine) {
  .link:hover {
    background: var(--accent-colour);
    color: var(--grey-900);
  }
}
@media (hover: none) and (pointer: coarse) {
  .link:active {
    background: var(--accent-colour);
    color: var(--grey-900);
  }
}
